{% extends 'base.html.twig' %}

{% block title %}Editar tarea{% endblock %}

{% block body %}
    <h1 class="ui header">Editar tarea</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}